/* TYPOGRAPHY */
* {
	font-family: SkyRegular;
	color: #4D4D4D;
	box-sizing: border-box;
}

body {
	max-width: 100%;
	overflow-x: hidden;
}

@media screen and (max-width: 768px) {
	html {
		max-width: 100%;
		overflow-x: hidden;
	}
}

.centered {
	text-align: center;
}

h1, .h1 {
	font-size: 64px;
	line-height: 62px;
	font-family: SkyMedium;
}

h2, .h2 {
	font-size: 32px;
	font-weight: 400;
	font-family: SkyRegular;
}

h4, .h4 {
	font-size: 32px;
	font-weight: 400;
	font-family: SkyRegular;
}

h5, .h5 {
	font-size: 28px;
	font-weight: 400;
	font-family: SkyRegular;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: #4d4d4d;
	}
}

.gradient-primary {
	background-clip: text;
	background-color: rgb(245, 100, 0);
	background-image: linear-gradient(to right, rgb(245, 100, 0) 0%, rgb(255, 0, 0) 25%, rgb(181, 0, 125) 50%, rgb(33, 66, 156) 75%, rgb(0, 113, 255) 100%);
	-webkit-text-fill-color: transparent;
}

.heading-editorial {
	text-align: center;

	.brand, .dark {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.heading-sub-text {
		margin-top: 0;
	}
}



/* BUTTONS */
.btn {
	align-items: center;
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 18px;
	font-weight: bold;
	justify-content: center;
	line-height: 24px;
	outline: none;
	padding: 8px 16px;
	position: relative;
	text-align: center;
	transition: 200ms ease-out;
}

.btn:focus:not(.btn-disabled):after {
	border: 2px solid #000B8F;
	border-radius: 6px;
	inset: -6px;
	content: "";
	opacity: 1;
	pointer-events: none;
	position: absolute;
	transition: 200ms ease-out;
}

.btn-primary {
	background-color: #000FF5;
	color: #fff;
}

.btn-secondary {
	background-color: #fff;
	color: #000FF5;
	border: 2px solid #000FF5;
}

.btn-primary:hover {
	background-color: #000B8F;
}

.btn-secondary:hover {
	background-color: #fff;
	color: #000B8F;
	border-color: #000B8F;
}

.btn-disabled {
	background-color: #E6E6E6;
	color: #909090;
	cursor: not-allowed;
}

.btn-disabled.btn-secondary {
	border-color: #909090;
	color: #909090;
}

.btn-disabled:hover {
	background-color: #E6E6E6;
	color: #909090;
}

/* PRICE OFFER */
.price-offer {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.price {
	display: flex;
	align-content: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.price-value {
	font-size: 4.75rem;
}

.price-right {
	display: block;
	padding-top: 0.625rem;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	max-width: 80px;
}

.currency-right {
	font-size: 2.25rem;
}

.price-period {
	font-size: 1rem;
	margin: 0px 0px 0px 0.5rem;
	background-image: none;
	background-color: transparent;
	text-align: left;

}

.price-old {
	color: #4d4d4d;
	background-image: none;
	background-color: transparent;
}

.strikethrough {
	position: relative;
}

.strikethrough:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 2px solid;
	border-color: inherit;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

/* STICKY */
.sticky-bar {
	z-index: 49;
	background-color: #fff;

	box-shadow: rgba(0, 0, 0, 0.15) 0px -8px 20px 5px;
	position: sticky;
	margin-top: 60px;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;

	&.visible {
		animation: fadeIn 1s forwards;
	}

	@media screen and (max-width: 768px) {
		position: fixed;
		bottom: 0;
	}

}

.sticky-bar-content {
	.sticky-left {
		text-align: left;

		.sticky-title, .sticky-price {
			font-family: SkyMedium;
			font-size: 28px;
			display: inline-block;
			cursor: pointer;
		}

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}

	.sticky-right {
		display: flex;
		justify-content: flex-end;
		gap: 1rem;

		@media screen and (max-width: 768px) {
			margin-top: 30px;
			flex-direction: column;
			align-items: center;
			width: 100%;

			.btn {
				width: 100%;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* MODALS */
.sky-offers-modal {
	padding: 3rem;
	position: relative;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 1050;
}

.modal-backdrop.show {
	opacity: 1;
}

.modal {
	position: fixed;
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	/*width: auto;*/
	/*max-width: 960px;*/
	top: 5%;
	bottom: 5%;
	right: 7.5%;
	left: 7.5%;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	z-index: 1055;

	&:focus,
	&:focus-visible {
		outline: none;
		box-shadow: none;
	}
}

.modal.show {
	opacity: 1;
	/*transform: translate(-50%, -50%) scale(1);*/
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;

	.modal-title {
		font-size: 28px;
		font-family: SkyMedium;
	}
}

.modal-body {
	padding-top: 1.5rem;

	.sky-offers-modal-body-content {
		overflow-y: scroll;
		max-height: 70vh;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	padding: 15px;
	border-top: 1px solid #ddd;
}

.fade {
	opacity: 0;
	transition: opacity 0.15s linear;
}

.fade.show {
	opacity: 1;
}

.modal .btn-close {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border: 1px solid #E6E6E6;
	position: absolute;
	top: 30px;
	right: 30px;
}

.btn-close::before {
	content: "✕"; /* Simbolo X */
	font-size: 24px;
	color: blue;
	font-weight: bold;
}

.btn-close:hover {
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}


/* DISCOUNT BANNER */
.discount-banner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.discount-banner {
	margin: 5rem;
	background-color: #FAFAFA;
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/*gap: 3rem;*/
	border: 1px solid #E6E6E6;
	border-radius: 5px;

	@media screen and (max-width: 768px) {
		margin: 0;
		flex-direction: column;
	}
}

.arrow {
	transform: translateX(10px);
	@media screen and (max-width: 768px) {
		transform: rotate(90deg) translateX(10px) translateY(0);
		height: 144px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/* ACCORDION */
.sky-accordion {
	border: 1px solid rgb(204, 204, 204);
	margin-bottom: 1rem;
	border-radius: 4px;
	background: rgb(255, 255, 255);

	.sky-accordion-header {
		padding: 0px;
		font-size: 100%;
		vertical-align: baseline;
		box-sizing: border-box;
		border-radius: 4px;
		background: rgb(255, 255, 255);

		button {
			position: relative;

			&:after {
				position: absolute;
				width: 20px;
				height: 20px;
				content: "prev";
				font-family: swiper-icons;
				top: 50%;
				transform: translateY(-50%) rotate(90deg);
				right: 20px;
				transition: transform 0.3s ease-in-out;
				transform-origin: center;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 20px;
				text-align: center;
				color: #000FF5;
			}

			&.collapsed:after {
				transform: translateY(-50%) rotate(-90deg);
			}
		}

		h4 {
			text-align: left;
			font-size: calc(1.19127rem + 0.481928vw);
		}
	}

	button {
		cursor: pointer;
		padding: 1rem 3.5rem 1rem 1rem;
		position: relative;
		background-color: transparent;
		width: 100%;
		font-family: inherit;
		color: inherit;
		border: none;
	}

	.accordion-collapse {
		visibility: hidden;
		opacity: 0;
		height: 0px;
		transition: height 0.3s ease-in-out, opacity 0.1s ease-in-out;

		&.show {
			visibility: visible;
			opacity: 1;
			height: auto;
		}
	}

	.sky-accordion-body {
		padding: 0.5rem 1rem 1rem;
	}
}

/* HEADER */
header {
	position: relative;
	z-index: 50;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 8px 8px 24px 10px rgba(0, 0, 0, .07);
	-webkit-box-shadow: 8px 8px 24px 10px rgba(0, 0, 0, .07);
	-moz-box-shadow: 8px 8px 24px 10px rgba(0, 0, 0, .07);
	background-color: #fff;
	min-height: 60px;

	.hwc-sky-logo-wrapper {
		margin-left: 24px;
	}
}

/* FOOTER */
footer .footer-menu, footer .footer-legal {
	padding: 0 24px;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
}

footer .footer-menu {
	background-color: #fafafa;
	display: flex;
	max-width: 1440px;
	padding: 40px 4.9%;
	margin: 0 auto;
	flex-wrap: wrap;

	.sfwc-column {
		flex: 1 1 16.4%;
		flex-basis: 16.4%;

		@media screen and (max-width: 768px) {
			flex-basis: 50%;
		}
	}

	.sfwc-title {
		color: #4d4d4d;
		font-size: 18px;
		font-family: SkyMedium;
		font-weight: 500;
		letter-spacing: .5px;
		line-height: 22px;
		pointer-events: none;
		outline-style: none;
		text-align: unset;
		padding: 18.62px 0;
	}

	ul li {

		line-height: 15px;
		margin-bottom: 24px;

		a {
			color: #4d4d4d;
			font-size: 18px;
			font-family: SkyRegular;
			font-weight: 100;
			letter-spacing: 0;
			line-height: 24px;
		}
	}
}

footer .footer-legal {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 0 auto;
	padding: 40px 4.9%;

	.sfwc-legal-section {
		min-height: 64px;
		margin: 5px 0;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.credits {
		min-height: 64px;
		margin: 5px 0;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;

		.sky-logo-container {
			width: 100%;
			max-width: 55px;
			height: auto;
			float: left;
			margin-right: 32px;
		}

		.sky-logo {
			width: 100%;
			height: auto;
		}

		.copyright-sky {
			color: #4d4d4d;
			font-family: SkyRegular;
			font-weight: 100;
			letter-spacing: 0;
			line-height: 20px;
			white-space: nowrap;
			font-size: 16px;
		}

		.tutti-i-marchi-sky {
			font-size: 12px;
			padding-top: 5px;
			color: #4d4d4d;
			font-family: SkyRegular;
			font-weight: 100;
			letter-spacing: 0;
			line-height: 20px;
			white-space: nowrap;
		}
	}

	nav {
		margin: 0 0 0 auto;
		display: inline-flex;
		align-items: flex-start;
		flex-wrap: wrap;

		a {
			display: flex;
			align-items: center;
			font-size: 16px;
			font-family: SkyRegular;
			font-weight: 100;
			line-height: 20px;
			margin: 0 32px 0 0;
		}
	}
}

.footer-spectrumLine {
	height: 4px;
	background: linear-gradient(90deg, #ff9e00, red 30.93%, #b5007d 61.67%, #21429c 88.09%, #0071ff);
}

/* HERO */
.hero-container {
	margin-top: 60px;
}

.hero {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.hero-price {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-offer-detail {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.hero-text {
	font-size: 26px;
	line-height: 16px;
	margin-top: 1.5rem;
}

.hero-buttons {
	margin-top: 1.5rem;
	display: flex;
	gap: 2rem;
}

.link-primary {
	color: #000FF5;
	font-weight: bold;
	cursor: pointer;
}

.link-primary:hover {
	color: #000FF5;
}

/* SKY CARD */
.sky-card {
	min-height: 300px;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	background-color: #FAFAFA;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}

	.card-body {
		min-height: 180px;
		padding: 1rem;
		background: #FAFAFA;

		.card-title {
			font-size: calc(0.496078rem + 1.56863vw);
			font-weight: bold;
			margin-bottom: 1rem;
			color: #333333;
			line-height: 1.1;
		}

	}
}

/* CAROUSEL */
.carousel-container {
	padding-top: 60px;

	.carousel-title {
		display: block;
		margin-bottom: 3rem;
		text-align: center;
	}

	.container, .sky-swiper {
		overflow: visible;
	}
}

.swiper-button-prev {
	@media screen and (min-width: 768px) {
		transform: translateX(-50px);
		&:after {
			transform: translateX(-10%);
		}
	}
}

.swiper-button-next {
	@media screen and (min-width: 768px) {
		transform: translateX(50px);
		&:after {
			transform: translateX(10%);
		}
	}
}

.swiper-button-prev, .swiper-button-next {
	background: white;
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
	padding: 1rem;
	box-sizing: border-box;
	transition: opacity 200ms ease-in-out;
	box-shadow: rgba(0, 0, 0, .3) 0px 0px 10px;

	&:after {
		font-size: 20px !important;
		color: #000FF5;
	}
}

.swiper-button-disabled {
	opacity: 0 !important;
}

/* BANNER SEPARATOR */
.banner-separator {
	margin-top: 60px;
	margin-bottom: 60px;

	img {
		width: 100%;
		height: auto;
	}

	.img-desktop {
		display: none;
	}

	.img-mobile {
		display: block;
	}

	@media screen and (min-width: 768px) {
		.img-desktop {
			display: block;
		}

		.img-mobile {
			display: none;
		}

	}
}

.card-offer-description {
	text-align: center;
}

.card-offer-title-centered {
	text-align: center;
}

.card-thumb-image {
	position: relative;
	top: 100%;
	left: 50%;
	width: 70px;
	height: 70px;
	transform: translate(-47%, -60%);

	@media screen and (max-width: 768px) {
		width: 45px;
		height: 45px;
		transform: translate(-47%, -60%);
	}
}

.badge {
	display: inline-block;
	background-color: #fdeee9;
	color: #b82605;
	padding: 8px 16px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 1.7rem;
}