/* HEADINGS */
* {
	font-family: SkyRegular;
	color: #4D4D4D;
}

h1, .h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
	font-family: SkyMedium;
}

.gradient-primary {
	background-clip: text;
	background-color: rgb(245, 100, 0);
	background-image: linear-gradient(to right, rgb(245, 100, 0) 0%, rgb(255, 0, 0) 25%, rgb(181, 0, 125) 50%, rgb(33, 66, 156) 75%, rgb(0, 113, 255) 100%);
	-webkit-text-fill-color: transparent;
}
/* BUTTONS */
.btn {
	align-items: center;
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-flex
;
	flex-shrink: 0;
	font-size: 18px;
	font-weight: bold;
	justify-content: center;
	line-height: 24px;
	outline: none;
	padding: 8px 16px;
	position: relative;
	text-align: center;
	transition: 200ms ease-out;
}

.btn:focus:not(.btn-disabled):after {
	border: 2px solid #000B8F;
	border-radius: 6px;
	inset: -6px;
	content: "";
	opacity: 1;
	pointer-events: none;
	position: absolute;
	transition: 200ms ease-out;
}

.btn-primary {
	background-color: #000FF5;
	color: #fff;
}

.btn-secondary {
	background-color: #fff;
	color: #000FF5;
	border: 2px solid #000FF5;
}

.btn-primary:hover {
	background-color: #000B8F;
}

.btn-secondary:hover {
	background-color: #fff;
	color: #000B8F;
	border-color: #000B8F;
}

.btn-disabled {
	background-color: #E6E6E6;
	color: #909090;
	cursor: not-allowed;
}

.btn-disabled.btn-secondary {
	border-color: #909090;
	color: #909090;
}

.btn-disabled:hover {
	background-color: #E6E6E6;
	color: #909090;
}

/* PRICE OFFER */
.price-offer {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.price {
	display: flex;
	align-content: center;
}
.price-value {
	font-size: 4.75rem;
}
.price-right {
	display: block;
	padding-top: 0.625rem;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	white-space: nowrap;
}
.currency-right {
	font-size: 2.25rem;
}
.price-period {
	font-size: 1rem;
	margin: 0px 0px 0px 0.5rem;
	background-image: none;
	background-color: transparent;
}